NODE_ENV=development

PORT=5000

BACKEND_URL_DEV=http://localhost:5000
BACKEND_URL_PROD=https://your-backend-url.com

FRONTEND_URL_DEV=http://localhost:3000
FRONTEND_URL_PROD=https://your-frontend-url.com

MONGODB_URI=mongodb://root:root@localhost:5002/Trimium-Database-Development?authSource=admin

REDIS_USERNAME=default
REDIS_PASSWORD=password
REDIS_HOST=127.0.0.1
REDIS_PORT=5001

SMTP_HOST=localhost
SMTP_PORT=5003
SMTP_USER=test
SMTP_PASS=test
SENDER_EMAIL=notifications@trimium.local

JWT_KEY=your-very-secure-and-long-jwt-key-goes-here-please-change-it

PoW_DIFFICULTY=3
PoW_SECRET=your-very-secure-and-long-pow-secret-goes-here-please-change-it

CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret

EMAIL_LOGOUT_SIGNING_KEY=your-email-logout-signing-key-goes-here-please-change-it

TURNSTILE_SECRET_KEY=your-cloudflare-turnstile-secret-key
